<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Votre calalogue</h1>
<div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">  
	<% @categories.each do |category| %>
 		<li><a href="#"><%= category.title %> <i class="icon-chevron-right"></i></a></li>
	<% end %>
	</ul>
</div>