<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
	<div class="bs-docs-sidebar">  
	<h1>Bienvenue sur Cypascher.com</h1>
	<h4>Retrouvez sur notre site une très large gamme de produits</h4>
	<p>Cypascher.com vous permets d'acheter en toute sécurité et de bénéficier d'un suivi et d'un service client à votre service.</p>
</div>